!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Qunit Template
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    %input#original{type: 'text', placeholder: "Enter sentence here"}
    %input#convert{type: 'button', value: 'click me'}
    %input#converted{type: 'text', placeholder: 'answer',   readonly: true}
    %script{src:'js/jquery-1.10.2.min.js'}
    %script{src:'js/underscore-min.js'}
    %script{src:'js/main.js'}

