@import url(http://fonts.googleapis.com/css?family=Krona+One);
@import url(http://fonts.googleapis.com/css?family=Quintessential);
@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic);
body
{
font-family: 'Quintessential', cursive;
font-weight: bold;
background-color: grey;
}
#logoimg
{
  float: left;
  width: 50px;
  border: 1px dashed red;
}

#logotxt
{
  float: left;
  width: 600px;
  border: 1px dashed red;
  font-family: 'Krona One', sans-serif;
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.clear
{
  clear: both;
  float: none;
}

h2
{
  font-family: 'Carrois Gothic', sans-serif;
  font-size: 40px;
}

ul
{
  list-style: armenian;
  padding-left: 40px;
}

section > p
{
  padding: 10px;
  line-height: 20px;
}

section > p:nth-child(even)
{
  font-style: italic;
  color: blue;
}

nav > a
{
  font-size: 40px;
}

nav > a:hover
{
  outline: groove;
  font-size: 100px;
}