!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Qunit Template
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    #controls
      %input#numbersInput{type: "text", placeholder: "input,(e.g. 5,3"}
      %input#numbersOutput{type: "text", placeholder: "output", readonly: true}
      %input#numbersSubmit{type: "submit", value: "Calculate"}


    %script{src:'js/jquery-1.10.2.min.js'}
    %script{src:'js/underscore-min.js'}
    %script{src:'js/main.js'}

