%div#entry
  %h2 Today is Today
  %p % Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, adipisci, tenetur, numquam, iusto aliquam maiores eius ab officia non alias excepturi quod soluta at quisquam provident incidunt id perspiciatis eos.